#loading
{
    display: none;

    
}

#alerta
{
    display:  none;
}

#sucesso
{
    display: none;
}





#loadinglogin
{
    display: none;

    
}

#alertalogin
{
    display:  none;
}

#sucessologin
{
    display: none;
}


